/*-- scss:defaults --*/

/*-- Define colors for later use --*/

$forest: #0B6623;
$chartreuse: #DFFF00;
$white: #fff;
$black: #000;


/*-- Define Bootstrap color variables --*/
// The page text color.
$body-color: $chartreuse;
// The page background color.
$body-bg: $forest;
// The link text color.
$link-color: $white;





/*-- scss:rules --*/
